.navlist-header,
.navlist-footer {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 1cap 3cap 1cap 3cap;
  display: flex;
  align-items: center; /* Ensures vertical alignment of all items */
  justify-content: center;
}

.navbar-header,
.navbar-footer {
  /* border: 1px red solid; */
  display: flex;
  align-items: center; /* Ensures vertical alignment of all items */
  justify-content: center;
}

li {
  text-decoration: none;
  padding: 1cap 5cap 1cap 5cap;
}

.title {
  /* border: 1px black solid; */
  display: flex;
  justify-content: center;
}

.logo-header_footer,
.copyright-footer {
  /* border: 1px black solid; */
  display: flex;
  justify-content: center;
}

.Alienoid-logo {
  justify-self: center;
  width: 77px;
  height: 77px;
}

/* section { */
/* border: 1px black solid; */
/* } */

.albums_singles-table {
  /* border: 1px black solid; */
  display: flex;
  justify-content: center;
}

td {
  border: 1px black solid;
  text-align: center;
  padding: 5cap;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: seagreen;
  /* text-decoration: underline; */
  .album-image,.single-image {
    transform: scale(1.2);
  }
}

.album,
.single {
  display: flex;
  justify-content: center;
  border: 1.5px lightgrey solid;
}

.album-image,.single-image {
  width: 88px;
  height: 88px;
  transition: transform 0.2s;
}

.artist-picture {
  display: flex;
  justify-content: center;
}

/* .borderedtextdiv {
  border: 1px red solid;
} */
